.exp-container{
  width: 80%;
  min-height: 100vh; 
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid;
}
.heading {
  display: flex;
  align-items: center;
  padding-left: 10px;
  background-color: black;
}

.dot {
  height: 20px;
  width: 12px;
  border-radius: 50%;
  margin-right: 8px;
  display: inline-block;
}

.project-container{
  width: 80%;
  min-height: 100vh; 
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid;
}
.project-btn {
  display: flex;
  justify-content: flex-start;
}
.project-btn a {
  width: 16rem;
  margin: auto;
  padding: 0.5rem;
  font-size: 1.2rem;
}
.exp-content {
  min-width: 200px; /* set your minimum width */
  max-width: 100%; /* don’t exceed parent */
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
}




