* {
  margin: 0;
  padding: 0;
  color: white;
  font-family: monospace;
  box-sizing: border-box;
}

html, body {
  min-width: 605px;
}

body {
  background: linear-gradient(#1a1a1a);
  background-size: cover;
  cursor:pointer;
}