* {
  margin: 0;
  padding: 0;
  color: white;
  font-family: monospace;
  box-sizing: border-box;
}

html, body {
  min-width: 605px;
  height: 100%;
}

body {
  background: linear-gradient(145deg, #1a2233, #7f00ff, #1a2233);
  background-repeat: no-repeat;
  display: flex; /* enables alignment */
  align-items: center;
  justify-content: center; /* centers content horizontally */
}
