section {
  scroll-margin-top: 4rem; /* adjust based on navbar height */
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  justify-content: end;
  background: linear-gradient(-175deg, #0f0f0f, #434343);
  z-index: 2;
}

.link,
.active-link {
  text-decoration: none;
  font-size: 2.5rem;
  font-weight: 600;
  color: white;
}

.active-link {
  color: rgba(255, 193, 7, 0.9);
  position: relative;
}

/* Base highlight line for active links */
.active-link::before {
  content: "";
  position: absolute;
  width: 0.5rem;
  border-radius: 1rem;
  background-color: rgba(255, 193, 7, 0.9);
  transform: rotate(90deg);
}

/* Individual adjustments */
.nav-1::before { height: 6.5rem; top: 0.3rem; left: 2.4rem; }
.nav-2::before { height: 8rem;   top: -0.5rem; left: 2.9rem; }
.nav-3::before { height: 9rem;   top: -1.1rem; left: 3.8rem; }
.nav-4::before { height: 14.5rem; top: -3.8rem; left: 6.6rem; }
.nav-5::before { height: 12rem;  top: -2.5rem; left: 5.2rem; }

.container-fluid {
  overflow: hidden;
}

.link-list {
  gap: 3rem;
  padding: 0.5rem;
}
.link {
  padding: 0.5rem 1rem;
  text-decoration: none;
  transition: color 0.3s ease, border-bottom 0.3s ease;
  cursor: pointer;
}

.active-link {
  font-weight: bold;
  border-bottom: 2px solid var(--accent-color);
}

.link-list {
  gap: clamp(1rem,0.5%,2.5rem);
  align-items: center;
}
