.project-btn {
  display: flex;
  justify-content: flex-start;
}
.project-btn a {
  width: 16rem;
  margin: auto;
  padding: 0.5rem;
  font-size: 1.2rem;
}
.exp-content {
  min-width: 300px; /* set your minimum width */
  max-width: 100%; /* don’t exceed parent */
  display: flex;
  flex-wrap: wrap;
}
